body {
    font-family: "Futura",Arial,sans-serif;
    line-height:1;
  	color:black;
  	background:white;
}

ul#menu {
        font-family: "Futura", sans-serif;
        font-size: 11px;
        margin: 400px;
        padding: 25px;
      }

ul#menu li {
    background-color: white;
    border-bottom: 4px solid black;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; /* elementi su singola riga */
  }

ul#menu li a {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
  }

ul#menu li.active, ul#menu li:hover {
    background-color: orange;
    border-bottom: 4px solid white;
  }

h1 {
    display: block;
    height: 15%;
    line-height: 7em;
    text-decoration: none;
    color:black;
    text-align:center;
  }

hr{
  size:10px;
  wight:300;
  }

ul#menu {
  margin-top:40px;
  text-align:center;
  line-height:8px;
  font-size= 4em;
  face:futura;
  font-weight:light;
  text-align: center;
}



h4 {
  text-align: left;
  position: absolute;
  top: 53%;
  left:4%;
  font-size: 20px;
  font-weight:500;
  color: orange;
}

h5{
  text-align: left;
  position:absolute;
  top:56%;
  left:5%;
  right:10%;
  font-size:14px;
  font-weight:150;
  color:grey;
}

h6 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0%;
  right:0%;
  widht: 300%;
  shadow: small shadow;
}

span {
  text-align: center;
  position: absolute;
  top: 138%;
  left:4%;
  color:orange;
  font-size:20px;
  font-weight:500;
  color: orange;
}

p1 {
  text-align: left;
  position:absolute;
  top:140%;
  left:4%;
  right:10%;
  font-size:14px;
  font-weight:150;
  color:grey;
}

#griglia {
  padding: 0;
  margin: 0
}

#griglia > li {
  border: none;
  display: inline-block;
  width:  492px;
  height: 400px;
  margin: 0px;
  left:0%;
  top: 180%;
  background-color: White;
}
