h1 {
text-align:center;
margin-top:3%;
font-size:3em;
face:garamond;
font-weight:900;
color:black;
}

h2 {
  margin-top:-20px;
  text-align:center;
  line-height:8px;
   font-size= 2em;
    face:garamond;
     font-weight:light;
      color:grey;
}
h3{text-align:center;
  margin-top:3%;
  font size:1em;
  face:garamond;
  colour:Black;
}

#curriculum {
  color:red;
  font-size;
}
body {background-color: rgb(242,233,245)}
a {Black}
